<ion-view view-title="About" class="about" scroll="false">
	<div class="bar bar-header bar-light">
	  	<img src="img/logocrm_inverse.png" />
	</div>
	<ion-content class="has-header has-footer text-center">
		<div class="row">
			<div class="about-section col col-80 col-offset-10">
				<h3>Collaborating center</h3>
				<div class="">
					<img src="img/logo-dgt.jpg" width="200px" height="200px"/>
					<img src="img/policlinica.png" />
				</div>
				<div class="">
					<h3>Contact</h3>
					<p>Telephone:</p>
					<p>961.354.560 - 606.332.799</p>
					<h3>Address</h3>
					<p>Gómez Ferrer, 100 first floor - Torrent(Valencia - Spain)</p>
					<h3>Timetable</h3>
					<p>From 09:00h to 18:00h</p>
					<p>From Monday to Friday</p>
				</div>
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer text-center">
		<a ui-sref="main">
			<img src="img/icons/arrow_left.png" />
			<button class="button button-clear center">Back</button>
		</a>
	</div>
</ion-view>
