<ion-view class="appointment appointment-3" view-title="appointment-3" class="appointment">
    <div class="bar bar-header bar-light">
        <h2>Success</h2>
    </div>
    <ion-content scroll="false" has-bouncing="false" class="has-header has-footer text-center col col-80 col-offset-10">
    <img class="success-img" src="img/icons/success.png">
    	<h2 class="heading2">Your appointment has been scheduled!</h2>
	<a href="#/main">
    	<button type="submit" class="button button-block button-positive">OK</button>
    </a>
</ion-view>