<ion-view class="appointment appointment-2" view-title="appointment-2" class="appointment" animation="slide-left-right">
    <div class="bar bar-header bar-light">
        <h2>Fill-up details</h2>
    </div>
    <ion-content scroll="false" has-bouncing="false" class="has-header has-footer">
        <form class="list" ng-submit="events.addEvent(events.event)">
          <label class="item item-input item-floating-label">
            <span class="input-label">Name</span>
            <input type="text" ng-required="true" placeholder="Name" ng-model="events.event.name">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" ng-required="true" placeholder="Email" ng-model="events.event.email">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Start date</span>
            <input style="background: transparent;" ng-disabled="true" type="text" ng-required="false" placeholder="Start date" ng-model="events.startDate">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">End date</span>
            <input style="background: transparent;" ng-disabled="true" type="text" ng-required="false" placeholder="End date" ng-model="events.endDate">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Additional text</span>
            <input type="text" ng-required="true" placeholder="Additional text" ng-model="events.event.text">
          </label>
          <button type="submit" class="button button-block button-positive">Confirm</button>
          <button ui-sref="appointment-3" class="button button-block button-positive">next</button>
        </form>
    </ion-content>
    <div class="bar bar-footer">
      <a ui-sref="appointment-1">
        <img src="img/icons/arrow_left.png" />
        <button class="button button-clear center">Back</button>
      </a>
    </div>
</ion-view>
