<ion-view view-title="Services" class="main" scroll="false">
  <ion-content>
  		<div class="about">
  			<p>About</p>
  			<a href="#/about"><img src="img/icons/about.png"/></a>
  		</div>
  		<div class="image text-center">
  			<img src="img/logocrm.png" />
  		</div>
		<div class="navigation col col-80 col-offset-10">
			<a href="#/appointment">
				<button class="button button-block"><img src="img/icons/checked.png">Make an appoitment</button>
			</a>
			<a href="#/calendar">
				<button class="button button-block"><img src="img/icons/calendar.png">Calendar</button>
			</a>
			<a href="#/services">
				<button class="button button-block"><img src="img/icons/list.png">Medical services</button>
			</a>
		</div>
  </ion-content>
</ion-view>
