<ion-view view-title="Services" class="services">
	<div class="bar bar-header bar-light">
		<img src="img/icons/mediac_icon.png" />
	  	<h2>Medical services</h2>
	</div>
	<ion-content class="has-header col col-100 has-footer">
		<div class="row">
		  	<div class="service col col-80 col-offset-10">
		  		<h3>Driving license</h3>
		  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas non corporis illum voluptatem nemo architecto sapiente aspernatur vitae mollitia et deleniti, corrupti earum veniam, minus est. Ullam, qui atque vitae.</p>
		  		<h3>Driving license</h3>
		  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas non corporis illum voluptatem nemo architecto sapiente aspernatur vitae mollitia et deleniti, corrupti earum veniam, minus est. Ullam, qui atque vitae.</p>
		  		<h3>Driving license</h3>
		  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas non corporis illum voluptatem nemo architecto sapiente aspernatur vitae mollitia et deleniti, corrupti earum veniam, minus est. Ullam, qui atque vitae.</p>
		  		<h3>Driving license</h3>
		  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas non corporis illum voluptatem nemo architecto sapiente aspernatur vitae mollitia et deleniti, corrupti earum veniam, minus est. Ullam, qui atque vitae.</p>
		  		<h3>Driving license</h3>
		  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas non corporis illum voluptatem nemo architecto sapiente aspernatur vitae mollitia et deleniti, corrupti earum veniam, minus est. Ullam, qui atque vitae.</p>
		  	</div>
		</div>
	</ion-content>
	<div class="bar bar-footer">
		<a ui-sref="main">
			<img src="img/icons/arrow_left.png" />
			<button class="button button-clear center">Back</button>
		</a>
	</div>
</ion-view>

