<ion-view view-title="Services" class="services">
	<div class="bar bar-header bar-light">
		<img src="img/icons/mediac_icon.png" />
	  	<h2>Medical services</h2>
	</div>
	<ion-content class="has-header has-footer service" scrool="true">
		<div class="row">
		  	<div class="about-section col col-80 col-offset-10">
		  		<h3>Driving license</h3>
		  		<p>
		  			For obtaining driving license only you have to come to our center with your ID and we will carry out the medical examination must take your Driving School to introduce the theoretical examination.<br>For the renewal of driving licenses only we need the card. In the center you will make the medical examination and all necessary formalities (payment of fees, and processing photos with the DGT) for your comfort.<br>We do the photo that later go on your new card, but if you want to display a particular, bring her and we attach.<br>With the medical examination you'll get a permit to drive with a shelf life of 3 months, but between 20 and 30 days after your renewal fact your new card will come to your home.
				</p>
		  		<h3>Dangerous animals</h3>
		  		<p>
		  			If you have a dog of these features now, or plan to in the future, you should know some responsibilities associated with this type of animal:<br><br>1. Obtaining license (which handles the municipality where you live). To apply you must be of age, have no criminal record, a certificate of fitness psicotécnico and liability insurance.<br><br>2. Identification of animal by microchip.<br><br>3. veterinary Cartilla with vaccinations.<br><br>4. Walking on the street: the dog should be taken only by the authorized person, always muzzled and go strapped 2m. maximum length.<br>Psicotécnico fitness certificate serves to prove that the person who is going to perform is able physically and psychologically to have an animal with aggressive potential.<br>In our center we can realizarte relevant evidence so that you get the certificate, which should contribute to your municipality to complete all relevant procedures ..
				</p>
		  		<h3>Gun license</h3>
		  		<p>
		  			If you want the license or authorization and permission for extension of the arms must pass a psycho recognition attesting your physical and psychological fitness.<br>In our center we are specialists in this field. It will make you fast and in perfect condition recognition.<br>If you find it more comfortable, we have a service appointment for you specify when you come better the visit.<br>Upon completion of the recognition we will give you an official document with your photo (which carry us) to go to the command of the Civil Guard to conclude with the relevant procedures.<br>The documentation must provide us is your ID and if the license extension is in renewal date.
		  		</p>
		  	</div>
		</div>
	</ion-content>
	<div class="bar bar-footer">
		<a ui-sref="main">
			<img src="img/icons/arrow_left.png" />
			<button class="button button-clear center">Back</button>
		</a>
	</div>
</ion-view>

